body {
	color: white;
	background: lightgreen;
	font-family: verdana, arial, sans-serif;
}

/* Main hero content */
#hero {
	display: block;
	position: relative;
	min-width: 400px;
	min-height: 600px;
	padding: 20px;
	margin: 0 0px;
	text-align: center;
	color: #90ee90;
}

h1 {
	font-family: "georgia", "times new roman", serif;
	text-indent: -9999px;
}

h2 {
	font-family: georgia, times-new-roman, serif;
	font-size: 25px;
}

p {
	color: #000;
	font-size: 18px;
}

a:hover {
	color: darkgreen;
}

.container {
	position: absolute;
	width: 400px;
	height: 400px;
	margin: 50px auto;
}

footer {
	font-size: 0.7em;
	margin-top: 5em;
}

nav ul {
	font-size: 1.2em;
	list-style: none;
	padding-left: 0px;
	align-content: center;
	padding-top: 3px;
}

nav {
	font-weight: bold;
	text-decoration: none;
	text-align: right;
	padding: 0;
	float: none;
	width: auto;
}

nav li {
	display: inline;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 1.25em;
	padding-right: 1.25em;
	margin-left: 20px;
	border-width: 3px;
	border-style: solid;
	border-color: darkgreen;
}

li {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0em;
	padding-right: 0em;
	margin-left: 0px;
	text-align: left;
}

dl {
	color: #000;
	text-align: left;
	font-size: 20px;
}

nav a {
	font-weight: bold;
	text-decoration: none;
	color: darkgreen;
	font-size: 30px;
}

nav a:link {
	color: darkgreen;
}

nav a:hover,
nav a:focus {
	color: #11ef21;
}

#wrapper {
	width: 95%;
	background-color: gray;
	min-width: 1300px;
	max-width: 2048px;
	box-shadow: 3px 3px 3px #0d5806;
	margin: auto;
	margin-left: auto;
	margin-right: auto;
	align-content: center;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

img {
	width: 640;
	height: 65px;
}

#ticket {
	color: black;
	width: auto;
}

table, th, td {
	border:1px solid black;
	align-content: center;
  }


@media only screen and (max-width: 96em) {

	nav li {
		display: inline;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 0em;
		padding-right: 0em;
		margin-left: 0px;
		border-width: 3px;
		border-style: solid;
		border-color: darkgreen;
	}

	img {
		align-self: center;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	nav a {
		font-weight: bold;
		text-decoration: none;
		color: darkgreen;
		font-size: 30px;
	}

	#hero {
		display: block;
		position: relative;
		min-width: 400px;
		min-height: 600px;
		text-align: center;
		color: #90ee90;
	}

}