<!DOCTYPE html>
<html lang="en">

<head>
    <title>HSD - Login</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="wrapper">

        <header>
            <img src="images/HSDLogo.png" alt="HyperSupportDesk Logo">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/admin">Admin</a></li>
                    <li><a href="/quickFixes">QuickFixes</a></li>
                </ul>
            </nav>
        </header>

        <main id="hero">
            <h2>HyperSupportDesk - Admin Console</h2>

            <p>Here you will be able to edit accounts.</p>

            <p>Usertype 0 = standard user</p>
            <p>Usertype 1 = Supportive/Admin user</p>

        <form action="/login" method="POST">
            <div>
                <label for="id">User Id</label>
                <input type="text" id="id" name="id" required>
            </div>
            <div>
                <label for="usertype">Usertype</label>
                <input type="text" id="usertype" name="usertype" required>
            </div>
            <button type="submit">Update</button>

        </form>
        <p id="output"></p>
        
    </main>
    </div>
</body>
<script>
    const id = document.getElementById('id');
    const usertype = document.getElementById('usertype');
    const response = await fetch("/admin", {
        method: "POST",
        headers: {
            "Accept": "application/json",
            "Content-Type": "application/json"
        }
    });
const result = await response.json();
<% if (locals.message) { %>
output.innerHTML = '<%= locals.message %><br>';
<% } %>

</script>

</html>