<!DOCTYPE html>
<html lang="en">

<head>
    <title>HSD - Home</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="wrapper">

        <header>
            <img src="images/HSDLogo.png" alt="HyperSupportDesk Logo">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/admin">Admin</a></li>
                    <li><a href="/quickFixes">QuickFixes</a></li>
                </ul>
            </nav>
        </header>


        <main id="hero">
            <h2>HyperSupportDesk - Home</h2>
            <p>Welcome to HyperSupportDesk, the place for all of your IT ticketing needs.</p>
            <p>Feel free to navigate throughout the site.</p>
        </main>

        <form action="/" method="POST" class="logout"> 

             <button id="logoutbutton"type="submit">Logout</button>
            
        </form>
        
       
    </div>
</body>

</html>