<!DOCTYPE html>
<html lang="en">

<head>
    <title>HyperSupportDesk</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="wrapper">

        <nav>
            <ul>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>

        <header>
            <h2>Home</h2>
        </header>
        </script>
    </div>
</body>

</html>