<!DOCTYPE html>
<html lang="en">

<head>
    <title>HSD - Login</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="wrapper">

        <header>
            <img src="images/HSDLogo.png" alt="HyperSupportDesk Logo">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/admin">Admin</a></li>
                    <li><a href="/quickFixes">QuickFixes</a></li>
                </ul>
                <% if (user) { %>
                    <form action="/" method="POST" class="logout" id="logout-section"> 
                        <p>Logged in as: <%= user.email %> <button id="logoutbutton"type="submit">Logout</button></p>               
                    </form>
                <% } %>
            </nav>
        </header>

        <main id="hero">
            <h2>HyperSupportDesk - Login</h2>

        <form action="/login" method="POST">
            <div>
                <label for="email">Email Address</label>
                <input type="text" id="email" name="email" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
            <p><a href="/register">Don't have an account?</a></p>

            <p>Hey Kevin, feel free to test out this supportive user account:<br>jcarrey@test.com<br>Password1!</p>

        </form>
        <p id="output"></p>
    </main>
    </div>
</body>
<script>
<% if (locals.message) { %>
output.innerHTML = '<%= locals.message %><br>';
<% } %>

<% if (locals.retry) { %>
output.innerHTML += '<%= locals.retry %>';
<% } %>

<% if (locals.email) { %>
document.getElementById("email").setAttribute('value', '<%= locals.email %>');
<% } %>

</script>

</html>