<!DOCTYPE html>
<html lang="en">

<head>
    <title>HSD - Login</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="wrapper">

        <header>
            <img src="images/HSDLogo.png" alt="HyperSupportDesk Logo" align="left">
        </header>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/quickFixes">QuickFixes</a></li>
            </ul>
        </nav>

        <main id="hero">
            <h2>HyperSupportDesk - Login</h2><br>

        <form action="/login" method="POST">
            <div>
                <label for="email">Email Address</label>
                <input type="text" id="email" name="email" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="text" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
        <p id="output"></p>
    </main>
    </div>
</body>
<script>
<% if (locals.message) { %>
output.innerHTML = '<%= locals.message %>';
<% } %>
</script>

</html>