<!DOCTYPE html>
<html lang="en">

<head>
    <title>HSD - QuickFixes</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="wrapper">

        <header>
            <img src="images/HSDLogo.png" alt="HyperSupportDesk Logo" align="left">
        </header>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav><br>

        <main id="hero">
            <h2>HyperSupportDesk - QuickFixes</h2><br>

            <dl>
                <dt>Computer won't turn on</dt>
                <dd>- Make sure computer is plugged in.</dd>
                <dd>- Make sure monitor is plugged in to computer and to a power outlet.</dd>
                <dd>- Hold down power button.</dd>
                <dd>- Unplug from power outlet and press power button to discharge the device.</dd>
                <dd>- let charge for 30-60 minutes.</dd><br>

                <dt>Computer is running slow</dt>
                <dd>- Reboot computer.</dd>
                <dd>- Close some Chrome tabs or unneeded apps.</dd>
                <dd>- Run "Disk Cleanup".</dd><br>
                
                <dt>Can't acces the internet</dt>
                <dd>- Make sure the ethernet cable in plugged in if it is a desktop.</dd>
                <dd>- Disconnect from the network and reconnect.</dd>
                <dd>- Reboot the device.</dd>
                <dd>- The site may be down, try again in 30 minutes.</dd><br>

                <dt>Mouse is not working</dt>
                <dd>- If it is wireless, turn it off then back on.</dd>
                <dd>- If it is wireless, Change out batteries.</dd>
                <dd>- If it is wired, make sure it is plugged in.</dd>
                <dd>- Get a brand new mouse.</dd><br>

                <dt>There is no audio</dt>
                <dd>- Make sure the video or tab isn't muted.</dd>
                <dd>- Select the speaker icon in the bottom right corner of the screen and make sure it is high enough to hear.</dd>
                <dd>- Select a different option under the speaker icon.</dd>
                <dd>- Make sure you don't have headphone connected to the device.</dd>
                <dd>- Restart the device.</dd><br>
                
              </dl>

        </main>

        </script>
    </div>
</body>

</html>