<!DOCTYPE html>
<html lang="en">

<head>
    <title>HSD - Register</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div id="wrapper">

    <header>
        <img src="images/HSDLogo.png" alt="HyperSupportDesk Logo">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/quickFixes">QuickFixes</a></li>
            </ul>
        </nav>
    </header>

    <main id="hero">
        <h2>HyperSupportDesk - Register</h2>

    <form action="/register" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="email">Email Address</label>
            <input type="text" id="email" name="email" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <label for="confirm">Confirm Password</label>
            <input type="password" id="confirm" name="confirm" required>
        </div>
        <button type="submit">Register</button>
    </form>
    <p id="output"></p>
    <div class="requirements">
        <section>
            <h4>Password Requirements:</h4>
            <ul>
                <li><p>At least eight characters long.</p></li>
                <li><p>Contains one or more of the following:</p></li>
                <li><p>An uppercase letter.</p></li>
                <li><p>A number.</p></li>
                <li><p>A special character. (ex: !@#$, etc.)</p></li>
            </ul>
        </section>
    </div>
</div>

</main>
<script>
const output = document.getElementById("output");

<% if (locals.message) { %>
output.innerHTML = '<%= locals.message %>';
<% } else if (locals.errors) {
    for (const [key, value] of Object.entries(locals.errors)) { %>
output.innerHTML += '<%= value %><br>';
    <% }; %>
<% } %>

<% if (locals.name) { %>
document.getElementById("name").setAttribute('value', '<%= locals.name %>');
<% } %>

<% if (locals.email) { %>
document.getElementById("email").setAttribute('value', '<%= locals.email %>');
<% } %>

</script>
</body>
</html>