<!DOCTYPE html>
<html lang="en">

<head>
    <title>HSD - Welcome</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
</head>


<body>
    <div id="wrapper">

        <header>
            <img src="images/HSDLogo.png" alt="HyperSupportDesk Logo">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/admin">Admin</a></li>
                    <li><a href="/quickFixes">QuickFixes</a></li>
                </ul>
                <% if (user) { %>
                    <form action="/" method="POST" class="logout" id="logout-section"> 
                        <p>Logged in as: <%= user.email %> <button id="logoutbutton"type="submit">Logout</button></p>               
                    </form>
                <% } %>
            </nav>
        </header>

        <main id="hero">
            <h2>HyperSupportDesk - Welcome, <%= user.name %>!</h2>
            <p>You successfully logged in!</p>
        <p id="output"></p>
        </main>

        <script>
        const output = document.getElementById("output");

    const onRegister = async function() {
    const titleText = document.getElementById('title').value;
    const descriptionText = document.getElementById('description').value;
    const authorText = document.getElementById('author').value;
    const priorityText = document.getElementById('priority').value;
    const statusText = document.getElementById('status').value;
    const response = await fetch("/log", {
        method: "POST",
        headers: {
            "Accept": "application/json",
            "Content-Type": "application/json"
        },
     
    });
    const result = await response.json();
    if (result.error) {
        output.innerHTML = `<strong>Error: ${result.error.routine}</strong>`;
    } else {
        output.innerHTML = "Current Tickets.";
    }
    };

<% if (locals.message) { %>
output.innerHTML = '<%= locals.message %><br>';
<% } %>
        </script>

    </div>

</body>

</html>