<!DOCTYPE html>
<html lang="en">

<head>
    <title>HSD - Welcome</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
</head>


<body>
    <div id="wrapper">

        <header>
            <img src="images/HSDLogo.png" alt="HyperSupportDesk Logo" align="left">
        </header>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/quickFixes">QuickFixes</a></li>
            </ul>
        </nav>

        <main id="hero">
            <h2>HyperSupportDesk - Home</h2>
            <p>You successfully logged in!</p>
        </main>

    </div>

</body>

</html>